.Hero {
  // height: 100vh;
  margin: 4rem;
  padding: 10rem 0;
  @media (min-width: 768px) {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &__animation {
    margin-left: auto;
    width: 18rem;
    @media (min-width: 768px) {
      width: 24rem;
    }
    @media (min-width: 1024px) {
      width: 40%;
    }
    &--container {
      max-width: 1200px;
      margin: 0 auto;
    }
  }
  &__heading {
    max-width: 35rem;
    margin-bottom: auto;
    &--name {
      font-size: 7rem;
      line-height: 1;
      font-weight: bold;
      @media (max-width: 768px) {
        font-size: 4rem;
      }
    }
    &--desc {
      font-size: 1.5rem;
      letter-spacing: 0.025em;
      line-height: 1.625;
      margin-bottom: 2rem;
    }
    // &--cta {
    //   display: flex;
    //   align-items: center;
    //   font-family: inherit;
    //   font-weight: 700;
    //   color: white;
    //   padding: 1rem 2rem;
    //   cursor: pointer;
    //   border: 2px solid white;
    //   border-radius: 5px;
    //   &:focus {
    //     outline: none;
    //   }
    //   background-color: rgb(18, 18, 18);
    //   & span {
    //     font-size: 2rem;
    //   }
    //   // background-image: linear-gradient(
    //   //   43deg,
    //   //   #a162e8 0%,
    //   //   #f7ce68 46%,
    //   //   #85ffbd 100%
    //   // );
    // }
  }
}
